body, div {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
 
} 

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
  }

// .responsive-image {
//   max-width: 100%;
// }

.cell {
  margin: 1rem;
}
.cell img {
  display: block;
}

/* ************ */
/* Lightbox     */
/* ************ */
.show-me {
  display: block;
}

.hide-me {
  display: none;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
  //   width: 50%;
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
  //   width: calc(100% / 3);
      width: calc(33.3333% - 2rem);
  }
}