<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
</div>

<div class="container">
  <div class="grid">
      <div *ngFor="let elmProduct of elmProducts" class="cell">
        <app-products [productElm]=elmProduct (productWasClicked)="handleProductWasClicked($event)"></app-products>
      </div>
  </div>
</div>

<app-carousel *ngIf="showCarousel" [productElm]=currentProduct (carouselCloseClicked)="handleCarouselCloseClicked()"></app-carousel>

<!-- <div id="lightbox" class="light-box" [class.show-me]="isProductSelected" [class.hide-me]="!isProductSelected"> -->
<!-- <div *ngIf="showCarousel" id="lightbox" class="light-box"> -->
    <!-- <div id="lightboxImgTitle" class="light-box-img-title">Title of picture here </div> -->
    <!-- <div id="lightboxImg" class="light-box-img center"> 
      <img src={{mockElmProducts[0].images[0].href}} />
    </div>
    <div id= "lightboxClose" class="modal-close">X</div>
    <div id= "lightboxNext" class="modal-next">></div>
    <div id= "lightboxPrevious" class="modal-previous"><</div>
</div> -->

<!-- <div class="container">
  <div class="grid">
    <div *ngFor="let product of products" class="cell">
      <span>{{product.name}}</span>
      <img src="http://placehold.it/800x800" class="responsive-image">
    </div>
  </div>
</div> -->

