div {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
 
} 

.responsive-image {
    max-width: 100%;
    width: 100%;  // jj added otherwise not quite wide enough
  }

.product-container {
  position: relative;
}
.product__name {
  position: absolute;
  background:rgba(255,255,255, 0.5);
  color: black;
  width:100%;
  padding: 10px;
}

.product__price {
  position: absolute;
  background:rgba(0,0,0, 0.5);
  color: white;
  bottom: 10%;
  left: 10px;
  width: inherit;
  padding: 5px;
}