<div class="product-container" (click)="showCarousel(productElm)">
    <div class="product__name" [innerHTML]=productElm.name></div>
    <img src={{productElm.thumbnail.href}} class="responsive-image product__image" />
    <div class="product__price">${{productElm.priceRange.selling.low}} - ${{productElm.priceRange.selling.high}}</div>
</div>
