.carousel {
    background-color: black;
     /* Align to the absolute center of the page */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block; /* hidden for starters */
    position: fixed;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    border-left: 2px solid gray;
}

.carousel__indicators-container {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    width: 100%;
    padding: 0;
}

ul.carousel__indicators {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px 0;
    & > li {
        border-radius: 50%;
        border: 1px solid gray;
        background-color: white;


        list-style: none;
        display: inline-block;
        text-indent: 0;
        margin: 0 2px;
        width: 10px;
        height: 10px;
        background-color: transparent;
        border: 2px solid gray;
        border-radius: 100%;
        transition: all 0.25s ease;
        &.active, 
        &:hover {
            background-color: white;  
        } 
    }     
}
  
  /* Close button */
.modal-close {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
  
    /* Take it out of the flow, and align to the top-left corner */
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;  /* size it up */
    height: 24px;
    text-align: center;
  
    /* cosmetics */
    color: black;
    border-width: 0;
    border-radius: 100%;
    background-color: transparent;
    &:hover {
        cursor: pointer;
    }
}
  
/* Next and Previous modal navigation buttons */
.modal-next,
.modal-previous {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    position: absolute; /* Take it out of the flow, and align to the top-left corner */
    top: 200px;
    right: 0px;
    width: 32px;  /* size it up */
    height: 32px;
    text-align: center;
  
    /* cosmetics */
    border-width: 0;
    border-radius: 50%;
    background-color: black;
    background:rgba(255,255,255, 0.5);
    color: gray;
    &:hover {
        cursor: pointer;
    }
}
  
.modal-previous {
    right: inherit;
    left: 0px;
}