<div id="lightbox" class="carousel">
    <div id="lightboxImg" class="carousel__img"> 
      <img src={{productElm.images[currentImageIndex].href}} />  <!-- Lightbox img  --> 
    </div>
    <div id="lightboxClose" class="modal-close" (click)="hideCarousel()">X</div> <!-- Lightbox Navigation -->
    <div id="lightboxNext" class="modal-next" (click)="navigateThumbnail('next')">></div>
    <div id="lightboxPrevious" class="modal-previous" (click)="navigateThumbnail('previous')"><</div>
    
    <div class="carousel__indicators-container">
      <ul class="carousel__indicators">
        <li [class.active]="currentImageIndex==0"></li>
        <li [class.active]="currentImageIndex==1"></li>
        <li [class.active]="currentImageIndex==2"></li>
      </ul> 
    </div>
</div>
